<mat-card>
	<mat-card-content>
        <mat-card-title class="mat-card-title">Dashboard</mat-card-title>
        <div fxlayout="row" fxlayoutwrap="wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
            <div fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="100" style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                <mat-card class="mat-card">
                    <mat-card-content class="mat-card-content">
                        <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                            <button class="shadow-none bg-inverse bg-success mat-fab mat-accent" mat-card-icon="" mat-fab="">
                                <span class="mat-button-wrapper">
                                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">business</mat-icon>
                                </span>
                                <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button>
                        </div>
                        <div >
                            <h3 class="m-0">386</h3>
                            <h6 class="text-muted m-0">Investor Summary</h6>
                        </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="100" style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                <mat-card class="mat-card">
                    <mat-card-content class="mat-card-content">
                        <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                            <button class="shadow-none bg-warning mat-fab mat-warn" color="warn" mat-card-icon="" mat-fab="">
                                <span class="mat-button-wrapper">
                                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">local_atm</mat-icon>
                                </span>
                                <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button>
                        </div>
                        <div >
                            <h3 class="m-0">2408</h3>
                            <h6 class="text-muted m-0">Borrower Summary</h6>
                        </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="100" style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                <mat-card class="mat-card">
                    <mat-card-content class="mat-card-content">
                        <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                            <button class="shadow-none mat-fab mat-accent" color="accent" mat-card-icon="" mat-fab="">
                                <span class="mat-button-wrapper">
                                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">mood</mat-icon>
                                </span>
                                <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button>
                        </div>
                        <div >
                            <h3 class="m-0">1352</h3>
                            <h6 class="text-muted m-0">Active Users</h6>
                        </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="100" style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
                <mat-card class="mat-card">
                    <mat-card-content class="mat-card-content">
                        <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                            <button class="shadow-none bg-danger mat-fab mat-warn" color="warn" mat-card-icon="" mat-fab="">
                                <span class="mat-button-wrapper">
                                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">attach_money</mat-icon>
                                </span>
                                <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button>
                        </div>
                        <div >
                            <h3 class="m-0">4%</h3>
                            <h6 class="text-muted m-0">Average Interest</h6>
                        </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>